body {
  background-color: #000000;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease; 
}

.box:hover {
  background-color: #1571b7;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.icon {
  font-size: 35px;
  color: #ffffff;
}
